:root {
  --primary: #5c483a;
  --bg: #ffe2bb;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", "sans-serif";
  background-color: var(--bg);
  color: #f4e8d8;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(244, 232, 216, 0.8);
  border-bottom: 1px solid #692c01;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #875029;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #875029;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #875029;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#menu {
  display: none;
}

/* Navbar Search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #ffff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleX(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: #692c01;
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: #692c01;
}

/* Shopping Cart */
#shopping-cart-button {
  position: relative;
}

#shopping-cart-button .quantity-badge {
  display: inline-block;
  padding: 1px 5px;
  background-color: rgb(255, 25, 25);
  color: #fefefe;
  border-radius: 4px;
  font-size: 1rem;
  position: absolute;
  top: 0;
  right: -10px;
}

.shopping-cart {
  position: absolute;
  top: 100%;
  right: 0;
  transform: translateX(100%);
  height: 100vh;
  width: 35rem;
  padding: 0 1.5rem;
  background-color: #ffeedd;
  color: var(--primary);
  transition: 0.3s;
}

.shopping-cart.active {
  transform: translateX(0);
}

.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #333;
  position: relative;
}

.shopping-cart img {
  height: 4rem;
  border-radius: 50%;
}

.shopping-cart h3 {
  font-size: 1.4rem;
}

.shopping-cart .item-price {
  font-size: 1.2rem;
}

.shopping-cart .cart-item #add,
.shopping-cart .cart-item #remove {
  display: inline-block;
  padding: 2px 5px;
  cursor: pointer;
  margin: 0 8px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}

.shopping-cart h4 {
  font-size: 1.6rem;
  margin-top: -1rem;
  text-align: center;
}

/* Checkout Form */
.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px dashed #333;
  margin-top: 1rem;
  padding: 1rem;
}

.form-container h5 {
  text-align: center;
  font-size: 1rem;
}

.form-container form {
  width: 100%;
  text-align: center;
}

.form-container label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.form-container span {
  text-align: right;
}

.form-container input {
  background-color: #ddd;
  padding: 5px;
  font-size: 1rem;
  width: 70%;
}

.form-container .checkout-button {
  padding: 6px 14px;
  background-color: royalblue;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 20px;
  margin: 1rem auto;
  cursor: pointer;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/headerr-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(164, 141, 114, 0.8) 3%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 3rem;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba (255, 230, 201, 0.8);
  line-height: 1.2;
}

.hero .content h1 span {
  color: #ffa463;
}

.hero .content p {
  color: #fdf9f5;
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 50;
  text-shadow: 1px 1px 3px rgba (255, 230, 201, 0.8);
  mix-blend-mode: difference;
}

/* Styling khusus tombol mulai belanja */
.cta-btn,
.cta-btn:visited,
.cta-btn:active,
.cta-btn:hover {
  color: white !important;
  text-decoration: none;
}

.cta-btn {
  display: inline-block;
  background: #70523a; /* atau warna yang kamu pakai */
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 600;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #f4e8d8;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* About Section */
.about,
.product,
.contact {
  padding: 7rem 7% 1.4rem;
}

.about h2,
.product h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2,
.product h2,
.contact h2 {
  color: #b66022;
}
.about h2 span,
.product h2 span,
.contact h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 40rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #5c483a;
}

.about .row .content p {
  color: #875029;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.6;
  text-align: justify;
}

/* Product Section */
.product h2,
.contact h2 {
  margin-bottom: 0.5rem;
}

.product p,
.contact p {
  color: #875029;
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 300;
  line-height: 1.8;
}

.product .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.product .product-card {
  text-align: center;
  border: 1px solid #692c01;
  padding: 2rem;
}

.product .product-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.product .product-icons a {
  width: 4rem;
  height: 4rem;
  color: #692c01;
  margin: 0.3rem;
  border: 1px solid #692c01;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
}

.product .product-icons a:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.product .product-image {
  padding: 1rem 0;
}

.product .product-image img {
  height: 25rem;
}

.product .product-content h3 {
  font-size: 2rem;
  color: #875029;
}

.product .product-price {
  font-size: 1.3rem;
  font-weight: bold;
  color: #341501;
}

/* Contact Section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #976c46;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact-info-box {
  background-color: #8d5a2d;
  padding: 30px;
  border-radius: 8px;
  color: #fff;
  width: 100%;
}

.contact-info-box h3 {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}

.info-item {
  margin-bottom: 18px;
}

.info-item span {
  font-weight: bold;
  color: #ffe3c8;
  display: block;
  margin-bottom: 4px;
}

.info-item a {
  color: #ffe3c8;
  text-decoration: none;
  font-size: 16px;
}

.info-item a:hover {
  text-decoration: underline;
}

.info-item p {
  margin: 0;
  color: #ffe3c8;
}

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem;
}

footer .socials a {
  color: #ffff;
  margin: 1rem;
  font-size: 28px; /* Membesarkan ikon */
  display: inline-block;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #ffff;
  padding: 0.7rem 1rem;
}

footer .creadit {
  font-size: 0.8rem;
}

footer .creadit a {
  color: #ffa463;
  font-weight: 700;
}

/* Modal Box */
/* Item Detail */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 9999;
}

.modal-container {
  background: #fff;
  max-width: 700px;
  width: 100%;
  padding: 25px;
  border-radius: 14px;
  position: relative;
}

.close-icon {
  color: #b47945 !important;
}

.modal-content .product-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.modal-content .product-content h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 4px;
}

.modal-content .product-content p {
  max-width: 350px;
  line-height: 1.6;
  margin-top: 0;
}

.modal-content .product-content .product-price {
  font-size: 18px;
  font-weight: bold;
  color: #ff8e2c;
}

/* Tombol tetap di tengah */
.modal-content .product-content a {
  background: #79410f;
  margin-top: 10px;
  padding: 10px 16px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px;
}
/* Modal Animation */
@keyframes animatModal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-container .close-icon {
  position: absolute;
  right: 1rem;
}

.modal-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal-content img {
  height: 18rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.modal-content p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.2rem;
}

.modal-content a {
  display: flex;
  gap: 1rem;
  width: 10rem;
  background-color: var(--primary);
  color: #ffffff;
  margin-top: 1rem;
  padding: 1rem 1.6rem;
  border-radius: 0.5rem;
  font-size: 0.6rem;
}

.modal-content a i {
  width: 2.5rem;
  height: 2.5rem;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1200px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 992px) {
  html {
    font-size: 62.5%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #ffa869;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 35rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    font-size: 1.6rem;
  }

  .product p {
    font-size: 1.3rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  @media (max-width: 768px) {
    .contact-container {
      flex-direction: column;
    }
  }

  .contact .row form {
    padding-top: 0;
  }

  .modal-content {
    flex-wrap: wrap;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
